.checkoutProduckt {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    /* padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px; */
}

.checkoutProduckt>img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduckt__info {
    padding-left: 20px;
}

.checkoutProduckt__info>button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88743 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduckt__rating {
    display: flex;
}

.checkoutProduckt__title {
    font-size: 17px;
    font-weight: 800;
}